.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#090909, #072257);
  animation: animeLeft 1s;
}

@keyframes animeLeft {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: initial;
    opacity: 1;
  }
}

.title {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.containerInput form {
  background-color: #69717d;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}
.containerInput form input {
  background-color: #69717d;
  outline: none;
  border: none;
  font-size: 1.2rem;
  color: #fff;
}
.containerInput form input::placeholder {
  color: #fff;
  font-size: 1rem;
}

.containerInput form input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.containerInput form button {
  background-color: #69717d;
  border: none;
  cursor: pointer;
}

.containerInput form button:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.error {
  color: #f00;
  letter-spacing: 0.12rem;
}

.main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 4px;
  gap: 0.875rem;
  min-width: 400px;
  margin-top: 2rem;
  animation: flipMain 1s;
}

@keyframes flipMain {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
